[submodule ".registry"]
	path = .registry
	url = https://github.com/kubdatalab/kubdatalab.r-universe.dev
	branch = HEAD
[submodule "FTutils"]
	path = FTutils
	url = https://github.com/KUBDatalab/FTutils
[submodule "KBapi"]
	path = KBapi
	url = https://github.com/KUBDatalab/KBAPI
[submodule "KUBDatalab"]
	path = KUBDatalab
	url = https://github.com/KUBDatalab/KUBDatalab
[submodule "StaRmanlyrics"]
	path = StaRmanlyrics
	url = https://github.com/KUBDatalab/StaRmanlyrics
[submodule "curl"]
	path = curl
	url = https://github.com/jeroen/curl
[submodule "ggbiplot"]
	path = ggbiplot
	url = https://github.com/vqv/ggbiplot
[submodule "ggdatalab"]
	path = ggdatalab
	url = https://github.com/KUBDatalab/ggdatalab
